# Ignore environment files
.env
.env.*
!.env.example
!config/.env.testing.example

# Dependencies
node_modules/
tsconfig.tsbuildinfo
vendor/
package-lock.json
.playwright-cli/

# Uploads
uploads/
ws/events.queue
