version: "3.9"
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: mysql://nixor:nixor@mysql:3306/nixor
      REDIS_URL: redis://redis:6379
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: changeme
      GOOGLE_CLIENT_ID: placeholder
      GOOGLE_CLIENT_SECRET: placeholder
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
      SMTP_USER: ""
      SMTP_PASS: ""
      SMTP_FROM: noreply@nixorcollege.edu.pk
      DOMAIN_ALLOWLIST: nixorcollege.edu.pk
      VISIBILITY_MODE: RESTRICTED
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nixor
      MYSQL_USER: nixor
      MYSQL_PASSWORD: nixor
    ports:
      - "3306:3306"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
