APP_ENV=testing
BASE_URL=http://127.0.0.1:8001

DB_HOST=127.0.0.1
DB_NAME=nixor_portal_test
DB_PASS=
DB_PORT=3306
DB_USER=root

NCP_API_SHARED_SECRET=
MOBILE_SESSION_TTL_DAYS=30
SESSION_COOKIE_SAMESITE=Lax
MAIL_TRANSPORT=fake
AUTOMATED_EMAILS_ENABLED=false
